<div class="container">
  <div class="row justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <div class="col-lg-4 col-md-4 col-sm-3">
        <div class="card rounded">
          <img class="card-img" src="https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
          <div class="card-img-overlay">
              <h5 class="card-title"><%= cocktail.name.capitalize %></h5>
              <%= link_to "See more", cocktail_path(cocktail), class: "btn-info-show" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="foot">
  <%= link_to "New Cocktail", new_cocktail_path, class: "btn-footer-index" %>
</div>
