<div class="title">
  <h1>New Cocktail</h1>
</div>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to "Back", cocktails_path, class: "nav-link" %>
  </li>
</ul>
<div class="container">
  <%= render 'form', cocktail: @cocktail %>
</div>

