<div class="title">
  <h1>New dose</h1>
</div>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to "Back", cocktail_path(@cocktail), class: "nav-link" %>
  </li>
</ul>

<div class="container">
  <%= render 'form', dose: @dose, cocktail: @cocktail %>
</div>


