.title {
  text-align: left;
  padding: 15px 25px;
  h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    margin-left: 70px;
  }
}
.subtitle {
  color: white;
  font-size: 40px;
  font-family: 'Noto Serif', serif;
  font-weight: lighter;
  padding-bottom: 20px;
}
